<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body>
    <%- include('../static/partials/navbar'); %>

      <main class="my-4 container">
        <h1 class="text-center">Wallchat</h1>
          <ul class="list-group">
            <% posts.forEach((post) => { %>
              <li class="list-group-item">
                <h5> <%= post.title %> </h5>
                <section id="poster_name">
                  <%= post.name %> - <%= post.createdAt %>
                </section>
                <section>
                  <%= post.body %>
                </section>
              </li>
            <% }) %>
            <form style="width:50%" action="/wall/post/create" method="post">
              <div class="form-group">
                <h3 class="my-4">New Post</h3>
                <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter title">
                <textarea name="body" rows="5" class="form-control" aria-describedby="bodyHelp" placeholder="Enter post"></textarea>
              </div>
              <button type="submit" class="btn-primary btn">Submit</button>
            </form>
          </ul>
      </main>

    <%- include('../static/partials/baseScripts'); %>
  </body>
</html>
